.notes-container {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
}

#notes-content {
    font-family: 'Poppins', sans-serif;
    padding: 2em;
    margin: 1em auto; 
    text-align: left;
    border-top: 1px solid gray;
    max-width: 72rem;
}

#notes-content h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 1em auto 2.5em auto;
}

#notes-content h2, #notes-content h3 {
    margin: 2em auto 0.5em auto;
}

#notes-content p, #notes-content ol, #notes-content ul, #notes-content li {
    color: #DDD;
    margin: 0.5em auto;
}

/* Indents lists */
#notes-content ol, #notes-content ul {
    margin-left: 4ch;
}

/* Custom spacing after list marker (number or bullet point) */
#notes-content li {
    padding-left: 0.7ch;
}

.title {
    font-size: 2.5rem;
    color: #f0f0f0;
}

@media (max-width: 781px) {
    #notes-content {
        padding: 2em 0;
    }

    .title {
        font-size: 2rem;
    }
}

.download-button {
    width: 100%;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #1f2937;
    background-color: #6d9dc5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 2rem;
    margin-top: 1rem; /* Add margin to separate from content */
  }
  
  .download-button:hover {
    background-color: #478fca;
    transform: translateY(-2px);
  }