.success-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 5%;
    background-color: #1e1e1e;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  
  .success-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #4caf50;
  }
  
  .success-description {
    max-width: 700px;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #d1d5db;
  }

  .return-button {
    padding: 1.2rem 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #1f2937;
    background-color: #6d9dc5;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .return-button:hover {
    background-color: #478fca;
    transform: translateY(-2px);
  }
  
  .home-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #1f2937;
    background-color: #fbbf24;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .home-button:hover {
    background-color: #f59e0b;
    transform: translateY(-2px);
  }

  @media only screen and (max-width: 781px) {
    .success-title {
      font-size: 2rem;
    }
  }