.flashcard-page {
  background-color: #1e1e1e;
  min-height: 100vh;
  color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flashcard-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
  color: #f0f0f0;
}

#review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.back-arrow-link {
  position: absolute;
  left: 1rem;
  top: 80px;
  color: #6d9dc5;
  font-size: 2.6rem;
}

.review-flashcard {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.review-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.review-button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #1f2937;
  background-color: #6d9dc5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.review-button:hover {
  background-color: #478fca;
  transform: translateY(-2px);
}

.card-counter {
  font-size: 1.2rem;
  color: #d1d5db;
  margin-top: 1rem;
}

#cards-available {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#cards-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.button-container {
  display: flex;
  gap: 2rem;
  width: 100%;
  max-width: 1024px;
  margin-bottom: 2rem;
}

.start-review-button {
  flex: 1;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #1f2937;
  background-color: #6d9dc5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.start-review-button:hover {
  background-color: #478fca;
  transform: translateY(-2px);
}

@media only screen and (max-width: 1200px) {
  #cards-preview {
    grid-template-columns: repeat(2, 1fr);
  }

  .button-container {
    max-width: 672px;
  }
}

@media only screen and (max-width: 781px) {
  .flashcard-page {
    padding: 5%;
  }
  
  .back-arrow-link {
    top: 75px;
    font-size: 1.8rem;
  }

  .flashcard-title {
    font-size: 2rem;
  }

  #cards-preview {
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%; 
    max-width: 366px; 
    margin: 0 auto;
  }

  .button-container {
    flex-direction: column;
    max-width: 366px;
  }

  .review-buttons {
    flex-direction: column;
  }
}
