.Navbar {
    background-color: rgba(39, 39, 42, 0.8);
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.left img {
    height: 40px;
    width: 170px;
}

.right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.right a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.right a:hover {
    color: #d1d5db;
}

.login-button,
.signup-button,
.premium-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.3s;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px; /* Set a fixed height for all buttons */
    margin: 0; /* Remove any default margins */
}

.login-button {
    background-color: #27272a;
    color: white;
}

.signup-button {
    background-color: rgb(189, 189, 189);
    color: #27272a;
}

.premium-button {
    background-color: #6d9dc5;
    color: #27272a;
}

.login-button:hover {
    background-color: #3f3f46;
}

.signup-button:hover {
    background-color: #ffffff;
}

.premium-button:hover {
    background-color: #478fca;
}

.userButton {
    margin-left: 20px;
    display: flex;
    align-items: center;
}