* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #f0f0f0;
  background-color: #1e1e1e;
  overflow-x: hidden;
}

html, body {
  height: 100%;
  overflow-y: auto; /* Ensure the body can scroll */
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* non-flexbox wrapper that doesn't overlap with the nav bar */
.main-inline {
  margin-top: 60px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 2rem auto;
}

.container {
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.center-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.c2 {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border-radius: 5px;
}

.basic-button {
  cursor: pointer;
  padding: 0.2rem 1rem;
  background-color: white;
}

.basic-button:hover {
  transform: translate(1.5px, 1.5px);
  background-color: #EAEAEA;
}

.back-arrow-link {
  position: absolute;
  left: 1rem;;
  top: 80px;

  color: #6d9dc5;
  font-size: 2.6rem;
}

@media screen and (max-width: 781px) {
  .back-arrow-link {
    top: 75px;
    font-size: 1.8rem;
  }
}