* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* color theme */
  --black: #1E1E1E;
  --black2: #242424;
  --white: #F0F0F0;
  --gray: #838383;
  --accent: #C5F4E0;
  --accent-dimmed: #86E9bE;

  /* Typography */
  /* font-size: 25px; */
  --default-font-size: 25px;
  /* --h1: 1.60rem; 40px */
  --h1: 2rem;
  /* --h2: 1.20rem; 30px */
  --h2: 1.8rem;
  --h3: 1.04rem; /*26px*/
  --p1: 1.00rem; /*25px*/
  --p2: 0.95rem;

  color: var(--white);
  background-color: var(--black);
  overflow-x: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* non-flexbox wrapper that doesn't overlap with the nav bar */
.main-inline {
  margin-top: 60px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 2rem auto;
}

.container {
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.center-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.double-column-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 5rem 1rem;
  --column-width: calc(50% - 1rem);
  max-width: 1600px;
  margin: auto;
}

.feature-column-text {
  width: var(--column-width);
  padding: 0.5rem;
}

.feature-column-text h1 {
  text-align: left;
}

.feature-column-text p {
  margin-bottom: 1rem;
}

.feature-column-media {
  width: var(--column-width);
  padding: 0.5rem;
}
.c2 {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*! custom-font imports generated by Font Squirrel (https://www.fontsquirrel.com) on September 2, 2024 */
@font-face {
  font-family: 'Monument Extended';
  src: url('../public/fonts/monumentextended-regular-webfont.woff2') format('woff2'),
       url('../public/fonts/monumentextended-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'Monument Extended';
  src: url('../public/fonts/monumentextended-ultrabold-webfont.woff2') format('woff2'),
       url('../public/fonts/monumentextended-ultrabold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
} */

body {
  font-family: 'Poppins', sans-serif;
}

p.default {
  font-size: var(--p);
  white-space: 'pre-line';
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

/* commenting this out for damage control */
/*
h1, h2, h3, h4 {
  /* font-family: 'Monument Extended', 'Geologica', 'Merriweather Sans', 'Radio Canada', sans-serif; *//*
  font-family: 'Geologica', 'Merriweather Sans', 'Radio Canada', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  /* letter-spacing: 0.35rex; *//*

  margin-bottom: 1rem;
}
*/


/* commenting this out for damage control */
/* h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
} */

.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 2rem;
  width: 100%;
}

button {
  font-family: 'Poppins', sans-serif;
}

button.primary,
button.secondary,
button.tertiary {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  
  padding: 0.5rem 2rem;
  margin: 1rem 0rem;

  border: 2px solid;
  border-radius: 6px;
  
  cursor: pointer;
  --anim: 0.2s ease;
  -webkit-transition: -webkit-transform var(--anim);
  transition: transform var(--anim);
}

button.primary:hover,
button.secondary:hover, 
button.tertiary:hover {
  --scaleVal: 1.05;
  -webkit-transform: scale(var(--scaleVal), var(--scaleVal));
  transform: scale(var(--scaleVal), var(--scaleVal));
}

button.primary {
  color: var(--black);
  background: var(--accent);
  border-color: var(--accent);
}

button.secondary {
  color: var(--accent);
  background: transparent;
  border-color: var(--accent);
}

button.tertiary {
  color: var(--accent);
  background-color: none;
  border-color: none;
}

.basic-button {
  cursor: pointer;
  padding: 0.2rem 1rem;
  background-color: white;
}

.basic-button:hover {
  transform: translate(1.5px, 1.5px);
  background-color: #EAEAEA;
}


.back-arrow-link {
  position: absolute;
  left: 1rem;;
  top: 80px;

  color: #6d9dc5;
  font-size: 2.6rem;
}

/* mobile formatting */
@media screen and (max-width: 781px) {

  /*smaller site gutters*/
  .double-column-container, .feature-column-text, .feature-column-media {
    padding: 0;
  }

  /* stack the column sections for mobile*/
  .double-column-container {
    padding: 1rem 2rex;
    flex-direction: column;
    gap: 1.5rem; /*probably tweak the gap later*/
    --column-width: 100%;
  }

  .feature-column-text, .feature-column-media {
    padding: 0 2rex;
    width: var(--column-width);
  }

  button.primary,
  button.secondary, 
  button.tertiary {
    width: 100%;
  }

  .back-arrow-link {
    top: 75px;
    font-size: 1.8rem;
  }
}