.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: 'Poppins', sans-serif !important;
    background-color: #1e1e1e;
  }
  
  .title {
    font-size: 8rem;
    margin: 0;
    color: #FFF;
  }
  
  .subtitle {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #EEE;
  }
  
  .message {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #d1d5db;
    font-style: normal;
  }

  .returnButton {
    padding: 1.2rem 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #1f2937;
    background-color: #6d9dc5;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .returnButton:hover {
    background-color: #478fca;
    transform: translateY(-2px);
  }