#siteWrapper {
  padding-top: 60px; /* avoid overlap with the nav bar */
  font-size: var(--default-font-size);
  font-family: 'Poppins', sans-serif;
}

/* allow section images to position relative to section divs */
#siteWrapper > div {
  position: relative;
  overflow: hidden;
  /*create site gutters - we pad these divs to ensure their bg-color stretches 100% wide*/
  padding: 3rem;
}

/* alternate background-colors between black & black2*/
#siteWrapper > div:nth-child(2n-1) {
  background-color: var(--black);
}

#siteWrapper > div:nth-child(2n) {
  background-color: var(--black2);
}

.sectionImg {
  width: min(100%, 630px);
  height: min(100%, 340px);

  /* vertically center */
  position: absolute;
  top: 50%;
  --webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#siteWrapper > div h1,
#siteWrapper > div h2,
#siteWrapper > div h3,
#siteWrapper > div h4 {
  font-family: 'Monument Extended', 'Geologica', 'Merriweather Sans', 'Radio Canada', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#siteWrapper > div h1 {
  font-size: var(--h1);
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

#siteWrapper > div h2 {
  font-size: var(--h2);
  line-height: 2rem;
  margin-bottom: 1rem;
}

#siteWrapper > div h3 {
  font-size: var(--h3);
}

#siteWrapper > div h4 {
  font-size: var(--h4);
}

/**************************************/
/* Section 1 -  PROFESSORS HATE US... */
/**************************************/
#landingSection {
  /* background: linear-gradient(90deg, #1e1e1e, transparent 55%); */
  padding-top: 2rem;
  padding-bottom: 0;
}

#landingSection h1 {
  text-transform: uppercase;
  white-space: pre;
}

#landingSection p {
  white-space: pre-line;
}

#landingImg {
  -webkit-transform: scaleX(-1) translateY(-50%);
  transform: scaleX(-1) translateY(-50%);
}

/*******************************************/
/* Section 2 - UPLOAD YOUR COURSE MATERIAL */
/*******************************************/
#uploadFeatureSection {
  justify-content: flex-start;
  position: relative; /*this is so #uploadImg can use position: absolute*/
}

#uploadFeatureSection > div > div:last-child {
  order: -1;
  padding: 0;
  overflow-x: visible;
}

/************************************************/
/* Section 3 - AI GENERATES YOUR STUDY MATERIAL */
/************************************************/
#featurePreviewSection {
  justify-content: center;
}

#featurePreviewSection > h2,
#featurePreviewSection > p {
  width: 100%;
}

/* column sections */
/* #siteWrapper > div:nth-child(3) > div {
  border: 1px solid red;
} */

/* left-side column */
#featureMenuContainer {
  width: min(600px, calc(45% - 1rem));
}

/* right side column */
#featurePreviewSection > div > div:last-child {
  width: min(1000px, calc(55% - 1rem));
}

ul#featureMenu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; 
  overflow-x: hidden;
  
  height: 15rem;
  list-style-type: none;
}

ul#featureMenu li {
  font-size: calc(var(--h2) * 0.8);
  text-transform: uppercase;
  
  vertical-align: middle;
  margin-left: -45px;
  line-height: 2.7rem;

  transition: margin-left 0.6s ease;
}

span.liContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: 5rex;

  padding-left: 5px;
  margin-left: -40px;
  margin-top: -1px;
  
  border: solid var(--white);
  border-width: 1px 0;

  transition: margin-left 0.6s ease;
}

span.liContainer:hover,
span#selectedFeaturePreview
{
  margin-left: 0rex;
}

span.liContainer:first-child {
  border-top: none;
  margin-top: 0;
}

span.liContainer:last-child {
  border-bottom: none;
}

.featurePreviewIcon { 
  font-size: 24px;
  vertical-align: middle;
  margin: 0.5rem 20px 0 0;
}

/* question circle needs some extra attention */
span.liContainer:nth-child(2) > .featurePreviewIcon {
  font-size: 30px;
  margin-top: 0.5rem;
}

img.neuronIcon {
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
  background: transparent;
  animation: pulse-animation 1s infinite alternate;
  animation-timing-function: linear;
}

/* this was used to pulse the neuron icon */
@keyframes pulse-animation {
  0%    {clip-path: circle(19px at center)}

  100%  {clip-path: circle(15px at center)}
}

#featureImgContainer {
  height: 15rem;
  border: 1px solid var(--gray);
}

.featureImg {
  object-fit: contain;
  height: 100%;
  width: 100%;
  display: none;
  transition: display 2s ease; /* this doesn't work, but it was worth a shot */
}

/* this makes it visible */
#selectedFeatureImg {
  display: inline;
}

.captionSection {
  display: none; /*hide a caption until it is #selectedCaption*/
  flex-flow: row wrap;
  justify-content: flex-start;
  text-align: left;
  gap: 1rem;

  margin-top: 1rem;
}

#selectedCaption {
  display: flex;
}

/********************************/
/* Section 4 - STAY ON SCHEDULE */
/********************************/
#notiFeatureSection {
  position: relative; /* so the section img can use position: absolute */
}

/*********************/
/* TABLET FORMATTING */
/*********************/
@media screen and (max-width: 1200px) {
  ul#featureMenu li {
    font-size: calc(var(--h2) * 0.6);
  }

  #uploadImg,
  #scheduleImg {
    margin-left: -10%;
  }  
}

@media screen and (max-width: 1000px) {
  #uploadImg,
  #scheduleImg {
    margin-left: -30%;
  }

  #siteWrapper {
    font-size: 1.2rem;
  }
}

/*********************/
/* MOBILE FORMATTING */
/*********************/
@media screen and (max-width: 781px) {
  ul#featureMenu {
    height: 10rem;
  }

  #siteWrapper > div h2 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  
  #featureMenuContainer,
  #featurePreviewSection > div > div:last-child {
    width: 100%;
  }

  ul#featureMenu li {
    font-size: calc(var(--h2) * 0.9);
    line-height: 1.8rem;
  }
  
  /* smaller site gutters */
  #siteWrapper > div {
    --gutter-width: 1rex;
    /* padding-left: var(--gutter-width);
    padding-right: var(--gutter-width); */
    padding: 2.5rem var(--gutter-width);
  }

  /* for some reason this lines the gutter up with the rest of the sections */
  /* #landingSection{
    padding-left: 0px;
    padding-right: 0px;
  } */

  #uploadImg,
  #scheduleImg {
    margin-left: 0;
  }

  /* left-align EVERYTHING */
  #siteWrapper > div h1,
  #siteWrapper > div h2,
  #siteWrapper > div p {
    text-align: left;
  }

  #siteWrapper button {
    margin-top: 2rem;
  }

  /* column divs */
  #siteWrapper > div > div {
    width: 100% !important; /* OVERRIDE */
  }

  /* keep the images in their div containers */
  .sectionImg {
    position: static;
    object-fit: cover;
    margin: 0;
    padding: 0;

    /* clear transformations */
    --scaleVal: 1.5;
    --webkit-transform: scale(var(--scaleVal));
    transform: scale(var(--scaleVal));
  }

  /* activate borders for dev */
  /* #siteWrapper > div { border: 1px solid red }
  #siteWrapper > div > div { border: 1px solid yellow } */
  
  /*******************************************/
  /* MOBILE - Section 1 - PROFESSORS HATE US */
  /*******************************************/

  /* put the image first! */
  #landingSection {
    display: flex;
    flex-direction: column;
    /* padding-top: 0 !important;
    padding-bottom: 1rem; */
    padding: 2.5rem var(--gutterWidth);
    padding-top: 0.5rem !important; /* OVERRIDE */
  }

  #landingSection > div > div:last-child {
    order: -1;
    padding: 0;
    /* margin-bottom: 1.5rem; */

    /* overflow acting weird! >:( */
    /* overflow: hidden; */
    /* overflow-y: hidden; */
    overflow-x: visible;
  }

  /* scale it up for some punch! */
  #landingImg {
    margin: 0;
    object-fit: cover;

    --scaleVal: 1.3;
    -webkit-transform: scale(var(--scaleVal));
    transform: scale(var(--scaleVal));
  }

  #landingSection h1 {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
    white-space: pre-line;
  }

  /*********************************************/
  /* MOBILE - Section 3 - AI GENERATES YOUR... */
  /*********************************************/

  /* add paddings to these since they aren't in column containers */
  #featurePreviewSection h2,
  #featurePreviewSection p {
    padding: 0 2rex;
  }

  #featurePreviewSection h2:first-child {
    margin-bottom: 0rem;
  }

  #featurePreviewSection > div > p {
    margin-top: 0;
  }

  #featurePreviewSection {
    gap: 0;
  }

  /**************************/
  /* mobile feature gallery */
  /**************************/
  div.galleryNav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
  }

  /* arrow buttons container */
  div.galleryNav > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    width: 35%;
    padding: 0rem;
    margin: 0;
  }

  /* arrow buttons */
  div.galleryNav button {
    --size: 5rex;
    width: var(--size);
    height: var(--size);
    padding: 0;
    margin: 0;
    margin-top: 0px !important; /*override the the margin-top I set for #siteWrapper button*/

    font-size: 1.4rem;
    font-weight: bold;

    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 50%; /*circle mode*/
    background-color: transparent;
  }

  div.galleryNav button:hover,
  div.galleryNav button:active {
    color: var(--accent);
    border-color: var(--accent);
  }

  /* let the gallery spill off-screen */
  div#featurePreviewSection,
  div#featurePreviewSection > div
   {
    overflow-x: visible !important;
  }
  
  div#gallery {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    align-items: flex-start;
    gap: 3rex;

    position: relative;
    left: -3rex;
    padding: 0 2rex;
    
    width: 100vw !important;
    --gallery-feature-width: 81vw; /*pass this var down to .galleryFeature children*/

    /*snap scrolling for children*/
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  div.galleryFeature {
    flex: 0 0 var(--gallery-feature-width); /*rigid size, no shrink, no grow*/
    scroll-snap-align: center; /*snap to center of viewport*/
  }

  div.galleryFeature h3 {
    padding: 0.7rem 0;
  }

  div.galleryFeature p {
    font-size: var(--p2);
    padding-left: 0 !important; /*I have no idea what specificity I'm overriding*/
  }

  div.galleryFeature > img {
    object-fit: contain;
    width: var(--gallery-feature-width);
    height: 300px;

    border: 1px solid var(--gray);
    border-radius: 8px;
  }

  /* target notes image for custom object-fit & object-position */
  img#mobileGalleryNotesImg {
    object-fit: cover;
    object-position: -20px top;
    /* width: var(--gallery-feature-width);
    height: 300px; */
  }
}

/********************************/
/* experimenting with gradients */
/********************************/
#siteWrapper {
  background: rgb(30,30,30);
  --gradient1: rgba(41,84,94,1) 0%, rgba(37,63,70,1) 25%, rgba(30,30,30,1) 50%, rgba(37,63,70,1) 75%, rgba(41,84,94,1) 100%;
  --gradient2: rgba(30,30,30,1) 0%, rgba(41,84,94,1) 50%, rgba(30,30,30,1) 100%;
  --gradient3: rgba(30,30,30,1), rgba(41,84,94,1);
  --gradient4: #1e1e1e, #23373b, #1e1e1e;
  --gradient5: #1e1e1e, #23273b, #1e1e1e;
  --gradient6: #1e1e1e, #23273b, #23373b, #1e1e1e;
  --gradient7: #1e1e1e, #004c6c, #1e1e1e;
  --gradient8: #23373b, #004c6c, #23373b;
  --gradient9: #23373b, #003952, #23373b;
  --gradient10: #2b474d, #003952, #2b474d;
  --gradient11: #1e1e1e, #003952, var(--gradient10);
  --gradient12: #1e1e1e, #003952, #2b474d;
  /* background: linear-gradient(180deg, var(--gradient12)) */
  /* animation: 3s infinite alternate rotate-gradient; */
  /* animation-name: rotate-gradient;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}

@keyframes rotate-gradient {
  0%    {
          background: linear-gradient(135deg, rgba(41,84,94,1) 0%, rgba(30,30,30,1) 50%, rgba(41,84,94,1) 100%);
        }

  100%  {
          background: linear-gradient(0deg, rgba(41,84,94,1) 0%, rgba(30,30,30,1) 50%, rgba(41,84,94,1) 100%);
        }
}

/**********************************************/
/* CSS for Everett's original homepage design */
/**********************************************/
.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vantaContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contentContainer {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10%;
}

.hookSection {
  text-align: left;
  max-width: 600px;
  font-family: 'Poppins', sans-serif;
}

.hookText h1 {
  margin: 0;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 700;
  color: #f0f0f0;
  line-height: 3.2rem;
}

.hookText p {
  margin: 1rem 0;
  font-size: 1.25rem;
  color: #f0f0f0;
}

.ctaButton {
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: 2px solid white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  margin-top: 1rem;
  transition: color 0.3s ease, background-color 0.6s ease;
}

.ctaButton:hover {
  background-color: white;
  color: black;
}