* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #f0f0f0;
  background-color: #1e1e1e;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.hero-banner {
  width: 100vw;
  height: 60vh;
  background-image: url('/hero-banner.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.hero-title {
  font-size: 3.5rem;
  line-height: 4.2rem;
  font-weight: 700;
  color: white;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.content-wrapper {
  width: 100%;
  padding: 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 3rem 0;
  color: #6d9dc5;
  text-align: center;
}

.story-text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #f0f0f0;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 4rem;
}

.features-list {
  list-style: none;
  padding: 0 0.4rem;
  margin: 4rem auto;
  max-width: 800px;
  width: 100%;
}

.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.feature-icon {
  font-size: 2.5rem;
  color: #6d9dc5;
  margin-right: 2rem;
}

.feature-item h3 {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  color: #f0f0f0;
}

.feature-item p {
  font-size: 1rem;
  color: #f0f0f0;
  margin: 0;
}

.founders-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 4rem auto;
  max-width: 800px;
  width: 100%;
}

.founder-card {
  background-color: #27272a;
  padding: 2.5rem;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.founder-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.founder-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.founder-name {
  font-size: 1.5rem;
  font-weight: 500;
  color: #f0f0f0;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.founder-school {
  font-size: 1.1rem;
  color: #6d9dc5;
  margin-bottom: 1rem;
}

.founder-linkedin {
  color: #478fca;
  text-decoration: none;
  font-size: 1.5rem;
  height: 30px;
}

.founder-linkedin:hover {
  color: #285b8e;
}

@media only screen and (max-width: 781px) {
  .hero-title {
    font-size: 2.6rem;
    line-height: 3.2rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .feature-icon {
    font-size: 4rem;
    margin-right: 1.5rem;
  }

  .founders-grid {
    grid-template-columns: 1fr;
    max-width: 400px;
  }
}
